.navbar {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbarwrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
    margin-top: 8px;
}

.topRight {
    display: flex;
    align-items: center;
}

.navbarIconContainer {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}

.notIcon {
    width: 25px;
    height: 50px;
}
.topIconBadge {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 12px;
    right: 125px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.profilePic {
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.profileName {
    font-weight: bold;
    width: 50px;
    height: 1hv;
    margin-bottom: 50;
    text-align: justify;
    align-items: center;
}

